@font-face {
    font-family: 'SourceSansPro-Light';
    src: url(Fonts/SourceSansPro-Light.eot), url('fonts/SourceSansPro-Light.ttf');
}

* {
    font-family: 'SourceSansPro-Light';
}

body {
    margin: 0px;
    background-image: url(http://localhost:12744/Images/551163_10150612961265493_37254402_n.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
}

nav {
    background: linear-gradient(rgba(35,35,35,0.9), rgba(0,0,0,0.9));
    text-align: center;
    overflow: visible;
}

nav ul li a {
    color: #cccccc;
    text-decoration: none;
    padding: 7px 20px;
    margin: 0px;
    display: block;
    font-size: large;
}

nav ul li:hover > a {
    background-color: rgba(11,11,11,0.9);
}

nav ul ul li:hover > a {
    background-color: #222;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: rgba(11,11,11,0.9);
}

nav ul ul li {
    clear: both;
    display: block;
    text-align: left;
}

