@font-face {
    font-family: 'SourceSansPro-Light';
    src: url(Fonts/SourceSansPro-Light.eot), url('fonts/SourceSansPro-Light.ttf');
}

* {
    font-family: 'SourceSansPro-Light';
}

body {
    margin: 0px;
}

/*#region Navigation*/

/*#region Navigation Bar*/
nav {
    background: linear-gradient(#666666, #333333 );
    text-align: center;
}
/*#endregion*/

/*#region Navigation List*/

nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    display: inline-block;
    text-align: left;
}

/*#endregion*/

/*#region Navigation Items*/
nav ul li{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li a {
    display: block;
    padding: 10px 10px;
    color: #FFFFFF;
    text-decoration: none;
}

nav ul li a:hover {
    background: linear-gradient(#333333, #666666)
}

/*#endregion*/

/*#region Navigation Subitems*/
nav ul ul {
    display: none;
    position: absolute;
    padding: 0px;
    top: 100%;
    background-color: black;
}

nav ul ul li {
    float: none;
    position: relative;
}

nav ul li ul li a {
    display:inline-block;
}

/*#endregion*/

/*#endregion*/