header {
    background-color: #C0C0C0;
    width: 844px;
    height: 86px;
}

* {
    font-family: calibri;
}

h1 {
    font-size: 20px;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

#PageWrapper {
    width: 844px;
    margin: auto;
}

nav {
    width: 844px;
}

/*#region Main Content*/

section#MainContent {
    width: 664px;
    float: left;
}

section#MainContent a {
    color: #4cff00;
    text-decoration:none;
}

    section#MainContent a:visited {
        color: #ff0000;
        text-decoration:none;
    }

    section#MainContent a:hover {
        color: #ffa500;
        text-decoration:none;
    }

/*#endregion*/

aside {
    background-color: Gray;
    width: 180px;
    float: left;
}

footer {
    background-color: #C0C0C0;
    width: 844px;
    clear: both;
}

.meaningless {
    font-style: italic;
    color: #003399;
}

.Buttons {
    border-width: 0px;
    border-style: none;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    font-size: medium;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #333333;
    width: 200px;
    height: 40px;
    float:left;
}

.Buttons:hover {
    border-width: 0px;
    border-style: none;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    font-size: medium;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #6eb5b9;
    width: 200px;
    height: 40px;
}

#database {
    clear:both;
}
